@model BigHits.Models.Movie

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<link href="~/CSS/Movie.css" rel="stylesheet" />
<br />
<h2 style="font-family:'Trebuchet MS';color:black">
    Details
    <i class="fa fa-book" aria-hidden="true"></i>
</h2> <br />

      <div class="">
          <h4 style="color:black">@Html.DisplayFor(model => model.MoviesName)</h4>
          <hr />

          <img class="float-lg-left" @*style="margin-top:10px"*@ src="@Url.Content("~/Image/" + System.IO.Path.GetFileName(Model.ImgPath))" alt="" width="225" , height="295" />
          <div style="margin-left:250px">
              <dl class="dl-horizontal">
                  <dt>
                      @Html.DisplayNameFor(model => model.Genre.GenreType)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Genre.GenreType)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.MoviesName)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.MoviesName)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.ReYear)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.ReYear)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Description)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Description)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.UnitPrice)
                  </dt>

                  <dd>
                      @String.Format("{0:c}", Model.UnitPrice)
                  </dd>



              </dl>
          </div>
          <br /> <br />
          <p>
              @Html.ActionLink("Edit", "Edit", new { @class = "btn btn-primary", id = Model.MovieID }) |
              @Html.ActionLink("Remove", "Delete", new { @class = "btn btn-primary", id = Model.MovieID }) |
              @Html.ActionLink("Back to List", "Index", "Movies", new { @class = "btn btn-primary" })
          </p>
      </div>


